@font-face {
  font-family: "icon";
  src: url('../fonts/iconfont.eot?t=1502616983614'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1502616983614#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1502616983614') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1502616983614') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1502616983614#icon') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"icon","PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",sans-serif !important;
  font-size:16px;
  font-style:normal;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before { content: "\e600"; }

.icon-link:before { content: "\e6ab"; }

.icon-more:before { content: "\e61b"; }

.icon-qq:before { content: "\e609"; }

.icon-music-list:before { content: "\e698"; }

.icon-down-o:before { content: "\e7eb"; }

.icon-list:before { content: "\e636"; }

.icon-tags-o:before { content: "\e666"; }

.icon-xie:before { content: "\e606"; }

.icon-wechat:before { content: "\e60a"; }

.icon-up:before { content: "\e6a9"; }

.icon-share-o:before { content: "\e6ce"; }

.icon-back:before { content: "\e627"; }

.icon-camera:before { content: "\e612"; }

.icon-github:before { content: "\e735"; }

.icon-tags:before { content: "\e677"; }

.icon-location:before { content: "\e681"; }

.icon-notice-new:before { content: "\e690"; }

.icon-login:before { content: "\e672"; }

.icon-trend:before { content: "\e611"; }

.icon-download:before { content: "\ed0a"; }

.icon-sure-location:before { content: "\e60f"; }

.icon-games:before { content: "\e638"; }

.icon-share:before { content: "\e73b"; }

.icon-search:before { content: "\e671"; }

.icon-q-zone:before { content: "\e680"; }

.icon-pc6:before { content: "\e62a"; }

.icon-smiling:before { content: "\e6b3"; }

.icon-home:before { content: "\e637"; }

.icon-msg:before { content: "\e697"; }

.icon-comment:before { content: "\e605"; }

.icon-archives:before { content: "\e642"; }

.icon-weibo:before { content: "\e6f0"; }

.icon-link-o:before { content: "\e62b"; }

.icon-youtube-o:before { content: "\e616"; }

.icon-game-o:before { content: "\e7b9"; }

.icon-friend:before { content: "\e60b"; }

.icon-down:before { content: "\e603"; }

.icon-folder:before { content: "\e7cb"; }

.icon-comment-o:before { content: "\e60d"; }

.icon-facebook:before { content: "\e62e"; }

.icon-friend-o-a:before { content: "\e614"; }

.icon-heart:before { content: "\e608"; }

.icon-message:before { content: "\e623"; }

.icon-time:before { content: "\e604"; }

.icon-vip:before { content: "\e645"; }

.icon-friend-o-b:before { content: "\e695"; }

.icon-tag:before { content: "\e621"; }

.icon-icface:before { content: "\e691"; }

.icon-cosplay:before { content: "\e699"; }

.icon-notice:before { content: "\e8cf"; }

.icon-mail:before { content: "\e60c"; }

.icon-time-o:before { content: "\e629"; }

.icon-friend-o-c:before { content: "\e613"; }

.icon-fire:before { content: "\e635"; }

.icon-user1:before { content: "\e65a"; }

.icon-wangyiyun:before { content: "\e63d"; }

.icon-hot-o:before { content: "\e607"; }

.icon-google:before { content: "\e82b"; }

.icon-twitter:before { content: "\e927"; }

.icon-csdn:before { content: "\e617"; }

.icon-tongzhi:before { content: "\e6eb"; }

.icon-smile:before { content: "\e622"; }

.icon-profile:before { content: "\e64e"; }

.icon-game:before { content: "\e610"; }

.icon-back-o:before { content: "\e618"; }

.icon-fast-forward:before { content: "\e63a"; }

.icon-pause:before { content: "\e66d"; }

.icon-play:before { content: "\e66e"; }

.icon-rewind:before { content: "\e67b"; }

.icon-image:before { content: "\e66c"; }

.icon-images:before { content: "\e60e"; }

.icon-plane:before { content: "\e712"; }

.icon-camera-o:before { content: "\e61f"; }

.icon-eye:before { content: "\e620"; }

.icon-hot:before { content: "\e684"; }

.icon-youtube:before { content: "\e799"; }

.icon-trend-o:before { content: "\e62c"; }

.icon-friend-o-d:before { content: "\e615"; }

.icon-top-o:before { content: "\e61d"; }

.icon-instagram:before { content: "\e641"; }
